{% extends "base.html" %}
{% load static %}
{% block content %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Searching about jobs">
    <meta name="author" content="Abdelrahman Mahmoud">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jobs</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://fonts.googleapis.com/css2?family=Kanit&family=Pacifico&display=swap" rel="stylesheet">
    <link rel="stylesheet" href=" {% static 'CSS/MAINStyle.css' %}">
    <link rel="stylesheet" href=" {% static 'CSS/applied jobs/style.css' %}">
</head>
<body>
    <section>
        <div class="">    
            <div class="Jobs">
                <h1>Applied Jobs</h1>
                <div id="jobs"></div>
            </div>
        </div>
    </section>
    <script>
        let curruse= JSON.parse(localStorage.getItem('user_id'));

async function GetDataFromServer(){
    let ress=await fetch(`http://127.0.0.1:8000/api/AppliedJobs/${+curruse}`)
    let data= await ress.json();
    console.log(data.JOBS);
    displaycontent(data.JOBS);
}

function displaycontent(arr){
    let data=''
     for(let i=0; i<arr.length; i++){
        data+=`<div class="Job">
        <div class="Dsc">
            <div>
                <h3 class="jt" onclick="GotoDetails(${arr[i].id})">${arr[i].name}</h3>
                <p ><i class="fa-solid fa-location-dot"></i>
                <span>${arr[i].location}</span></p>
            </div>
            <div class="button">
                <button onclick="DeleteJob(${arr[i].id})" class="btn btn-main">Delete Applection</button>
            </div>
        </div>
    </div>`;
      }
      if(data.length){
          document.getElementById('jobs').innerHTML=data;    
     }else{
          document.getElementById('jobs').innerHTML=`<p style="text-align:center;  height:60vh; font-size:40px;">NO JOBS</p>`;    
     }
}

async function DeleteJob(index){
    let ress = await fetch(`http://127.0.0.1:8000/api/RemoveApplication/${curruse}/${index}`)
    let data=await ress.json()
    console.log(data);
    GetDataFromServer()
}

function GotoDetails(index){
    localStorage.setItem("dJob",index)
    location.href="../details";
}

GetDataFromServer()
    </script>
</body>
</html>
{% endblock content %}
